<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--3.0之前使用springmvc注解-->
    <!-- 开启springmvc注解，根据扫描包和url找类   -->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>-->
    <!-- 开启springmvc注解，负责根据url找方法   -->
  <!--  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>-->

    <!--开启扫描包-->
    <context:component-scan base-package="com.learn"></context:component-scan>
    <!--3.0之后使用springmvc注解-->
    <mvc:annotation-driven>
        <!--下边是对返回的字符编码做过滤，通过拦截器的方式
        由于我在使用jackjson返回中文的时候，出现了乱码，为了防止返回中文字符的时候乱码，一般使用拦截器的方式去实现。
        -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>application/x-www-form-urlencoded;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>

    </mvc:annotation-driven>
    <!--配置对静态资源进行放行，不拦截-->
    <mvc:resources mapping="/images/**" location="/images/"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>

    <!--4.0文件上传解析器配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property><!--文件编码-->
        <property name="maxUploadSize" value="1048576000"></property><!--文件最大值-->
        <property name="maxInMemorySize" value="40960"></property><!--文件缓存大小-->
    </bean>


    <!--配置视图解析器，springMVC需要在配置文件这中配置试图解析器才正常解析视图-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"></property><!--指定jsp路径所在的前面一部分路径（前缀）-->
        <property name="suffix" value=".jsp"></property><!--试图视图资源的后缀，我这里使用jsp-->
    </bean>
</beans>