<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.microservice.user.mapper.UserMapper">

    <select id="getUserByUsername" resultType="User">
               SELECT uid as id,username,password,email,birthday,sex,state,code
               FROM user WHERE username = #{username}
    </select>
</mapper>