<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="left-side">
    <div class="menu-lists">
        <ul>
            <ul>
                <a>
                    <div class="icon iconfont icon-touxiang"></div>
                </a>
            </ul>
            <li>
                <a>
                    <div class="icon iconfont icon-shoucang"></div>
                    <div class="name">收藏</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon iconfont icon-file"></div>
                    <div class="name">文件</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon iconfont icon-yonghuguanli1"></div>
                    <div class="name">用户管理</div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>