* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
	font-color:#3e3e3e;
}

ul, li {
	list-style: none;
}

.box {
	background: url(../images/8.jpg);
	width: 100%;
	height: 800px;
}

.boxside {
	background: yellowgreen;
}

.login-box {
	background: lightblue;
	padding: 20px;
	position: fixed;
	right: 100px;
	top: 100px
}

.list-tab {
	border-bottom: 1px #efefef solid;
}

.list-tab p {
	display: inline-block;
	padding: 10px 40px;
}

.list-tab p:first-child {
	border-bottom: 3px #24AFDC solid;
	color: #24AFDC
}

.con {
	background: #24AFDC;
	padding-left: 50px;
	padding-right: 25px;
	margin-top: 20px;
	position: relative;
}

.con input {
	width: 100%;
	padding: 10px;
}


span {
	display: block;
	position: absolute;
	left: 15px;
	top: 10px;
	font-size: 20px;
	color: #fff;
}

.forget {
	display: block;
	text-align: right;
	padding: 20px 0px;
	color: #555;
}

.btn-blue {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #24AFDC;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
}

.text-center {
	text-align: center;
	color: #666;
}

/*左边样式*/
.home .left-side {
	position: absolute;
	padding-top: 40px;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
	width: 68px;
	background: #3c4d68;
}

.home .file-list-side {
	position: absolute;
	top: 0;
	bottom: 0;
	bottom: 0;
	left: 68px;
	right: 0;
	background: #f8f8f8!important;
	border-left: 1px solid #ddd;
}

.menu{
	position: relative;
	width: 68px;
	height: 70px;
	top: 200px;
	padding-top: 100px;
}

.menu-lists{
    width: 100% !important;
}

.menu-lists li{
    float:left;
    width: 100%;
    height:auto;
    text-align: center;
    list-style: none !important;
}

.menu-lists .name {
    text-align: center;
    color: #b1b7c2;
}

.menu-lists .icon{
    font-size: 35px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 0px;
    width: 0px;
    color: #b1b7c2;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}

/*文件搜索栏*/
.file-list-head {
	padding: 10px;
	margin-left: 40px;
	padding-top: 20px;
}

.file-search-box div {
	margin-top: 5px;
	margin-left: 10px;
	padding-left: 10px;
}

.file-search-box select {
	width: 100px;
}

.operator-box {
	margin-top: 10px;
	padding-left: 52px;
}

.file-list-box tbody tr:hover{
    background: #B4D2F6;
}

.file-list-box tbody tr{
    border: 1px solid #b1b7c2;
}
