<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--配置bean-->
        <bean name="/test/helloworld" class="com.learn.controller.HelloWorldController"></bean>

        <!--配置视图解析器，springMVC需要在配置文件这中配置试图解析器才正常解析视图-->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/views/"></property><!--指定jsp路径所在的前面一部分路径（前缀）-->
            <property name="suffix" value=".jsp"></property><!--试图视图资源的后缀，我这里使用jsp-->
        </bean>
</beans>