<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box">
    <div class="nav">e</div>
    <div class="boxside">

        <div class="login-box">
            <div class="list-tab">
                <p>扫码登录</p>
                <p>扫码登录</p>
                </ul>
            </div>

            <div class="con">
                <span class="iconfont icon-touxiang"></span>
                <input type="text" placeholder="请输入用户名"/>
            </div>
            <div class="con">
                <span class="iconfont icon-suo"></span>
                <input type="text" placeholder="请输入用户名"/>
            </div>
            <p class="forget">忘记登录密码</p>
            <div class="btn-blue">
                <p>登录</p>
            </div>
            <p class="forget text-center">免费注册</p>
        </div>

    </div>

</div>
</body>
</html>