<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css" media="screen">
    html, body { height:100%; }
    body { margin:0; padding:0; overflow:auto; }
    #flashContent { display:none; }
</style>
<script type="text/JavaScript" src="/js/common/jquery-1.8.3.min.js"></script>
<script type="text/JavaScript" src="/js/common/flexpaper_flash.js"></script>
<script type="text/JavaScript" src="/js/common/flexpaper_flash_debug.js"></script>
<body>
<div style="position:absolute;left:10px;top:10px;">
    <a id="viewerPlaceHolder"style="width:1000px;height:1000px;display:block"></a>

    <script type="text/javascript">
        document.write(escape("/home/caojx/图片/linux学习.swf"));
        var fp = new FlexPaperViewer(
            'FlexPaperViewer',
            'viewerPlaceHolder', { config : {
                //注意地址的写法
                SwfFile : escape('/html/flash4382.swf'),
                Scale : 0.8, //缩放比例
                ZoomTransition : 'easeOut',//缩放样式
                ZoomTime : 0.5,//变换缩放比例需要的时间
                ZoomInterval : 0.2,//缩放比例之间的间隔
                FitPageOnLoad : true,//初始化时自适应页面
                FitWidthOnLoad : true,//内容自适应页面宽度
                FullScreenAsMaxWindow : false,//可以最大化
                ProgressiveLoading : false,//值为true的时候为逐步加载
                MinZoomSize : 0.2,//最小缩放比例
                MaxZoomSize : 5,//最大缩放比例
                SearchMatchAll : false,//搜索的时候，目标高显示亮,测试后没有效果
                InitViewMode : 'Portrait',//启动模式
                PrintPaperAsBitmap : false,

                ViewModeToolsVisible : true,//工具栏上是否显示样式选择框(就是显示缩略图或分页显示的工具)
                ZoomToolsVisible : true,//工具栏上是否显示缩放工具,包括全屏
                NavToolsVisible : true,//工具栏上是否显示导航工具(也就是页码工具)
                CursorToolsVisible : true,//工具栏上是否显示光标工具
                SearchToolsVisible : true,//工具栏上是否显示搜索

// localeChain: 'en_US'//语言
                localeChain: 'zh_CN'
            }});
    </script>
</div>
</body>
</html>